<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About Us</a>
        <a href="/getUser">View Users</a>
        <a href="/contact">Contact Us</a>
        <a href="/contact/form">Contact Us Form</a>
        <a href="/page/Sample">Sample</a>
        <a href="/page/Intro">Intro</a>
        <a href="/count/7">Count</a>
        <a href="/products/create_product">Create Product</a>
        <a href="/products/retrieve_product">Retrieve Product</a>
        <a href="/products/listing_page">Product List</a>
        <a href="/products/pagevisit">Page Visit</a>
        <a href="/signup">Sign Up</a>
        <a href="/login">Login</a>
    </nav>
</body>
</html>